MODEL_BASE_URL=http://localhost:11434/v1
MODEL_NAME=
MODEL_API_KEY=
MODEL_TEMPERATURE=0.7
MODEL_MAX_TOKENS=0
MODEL_CONTEXT_WINDOW_TOKENS=1000000
MODEL_TOKEN_PRICE_PER_1M_USD=
AI_CHAT_SYSTEM_PROMPT=
AI_CHAT_SUMMARY_INTERVAL=20
AI_CHAT_ALLOW_CLARIFYING_QUESTIONS=false
AI_CHAT_PLANNING_SWARM_ENABLED=false
AI_CHAT_RAG_ENABLED=false
AI_CHAT_RAG_OLLAMA_URL=http://localhost:11434
AI_CHAT_RAG_EMBEDDING_MODEL=
AI_CHAT_RAG_SEARCH_TOP_K=15
AI_CHAT_RAG_TOP_K=5
